@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@0,400;0,900;1,700&display=swap");

:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #FF00FF;
    --secondary-color: #C0C0C0;
    --line-height: 1.7rem;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

.Box {
    color: var(--primary-color);
}

.Office {
    color: var(--secondary-color);
}

nav {
    background: #333333 no-repeat top center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #ff00ff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


.logo {
    font-size: 2rem;
    font-weight: 500;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    font-weight: var(--bold-font);
}

.hero {
    position: relative;
    background: url("neonbox.jpeg") no-repeat top center/cover;
    display: flex;
    height: 600px;
    margin-top: 0rem;
}

.intro-text 
{
    align-items: center;
    max-width: 1100px;
    margin: 6rem 4rem;
}


.intro-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-text h3 {
    margin-bottom: 0.5rem;
}

.hero p {
    line-height: var(--line-height);
    color: var(--secondary-color);
}

.st {
    color: var(--primary-color);
}

.binge {
    color: var(--secondary-color);
}

.re {
    color: var(--primary-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 0.6rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 5px;
}

.purple {
    color: #fff;
    background-color: var(--primary-color);
    color: 1.5rem;
}

.purple:hover {
    background-color: #FF00FF;
    color: #c0c0c0;
}

.silver {
    color: #fff;
    background-color: var(--secondary-color);
}

.silver:hover {
    background-color: #C0C0C0;
    color: #ff00ff;
}

.hero {
    display: grid;;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}


.gradient {
    position: relative;
    z-index: 0;
    background: linear-gradient(to bottom, #480082, #333333);
}

.about {
    position: relative;
    height: 200px;
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 1500px;
}

.about h3 {
    font-size: 2rem;
    margin-bottom: 2px;
    margin-top: 8rem;
    margin-left: 4rem;
    color: var(--secondary-color);
}

.about p {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-left: 4rem;
    margin-top: 8rem;
}

.features {
    position: relative;
    height: 600px;
    margin: 8rem 4rem 8rem;
    gap: 6rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 1500px;
    padding: 1rem 0;
}

.limit {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.limit img {
    height: 150px;
    width: 219px;
    border-radius: 0.6rem;
    object-fit: contain;
}

.rec {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}
.rec img {
    height: 150px;
    width: 200px;
    border-radius: 0.6rem;
    object-fit: contain;
}
.watch {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}

.watch img {
    height: 150px;
    width: 200px;
    border-radius: 0.6rem;
    object-fit: contain;
}
.off {
    margin: 2rem;
    display: flex;
    gap: 1rem;
}
.off img {
    height: 200px;
    width: 200px;
    border-radius: 0.6rem;
    object-fit: contain;
}
.features {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 2rem;
}

.limit h3 {
    color: var(--primary-color);
    text-align: left;
    font-size: 2rem;
}

.limit p {
    color: var(--secondary-color);
    text-align: left;
    font-size: 0.8rem;
}
.rec h3 {
    color: var(--primary-color);
    text-align: left;
    font-size: 2rem;
}

.rec p {
    color: var(--secondary-color);
    text-align: left;
    font-size: 0.8rem;
}
.watch h3 {
    color: var(--primary-color);
    text-align: left;
    font-size: 2rem;
}

.watch p {
    color: var(--secondary-color);
    text-align: left;
    font-size: 0.8rem;
}
.off h3 {
    color: var(--primary-color);
    text-align: left;
    font-size: 2rem;
}

.off p {
    color: var(--secondary-color);
    text-align: left;
    font-size: 0.8rem;
}

.sub {
    margin-bottom: 6rem;
}

.sub h3 {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
}

form {
    text-align: center;
    margin: 2rem 2rem;
}
.email-member {
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: none;
}

.email-member:focus {
    border: 1px solid var(--secondary-color);
    outline: none;
}
.submit-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem;
    margin: 0 0.5rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #ff00ff;
}

footer {
    color: var(--secondary-color);
    border-top: 1px solid #f1f1f1;
    box-shadow: 0px -2px 3px #ff00ff;
    text-align: center;
    padding: 2rem;
    gap: 0.2rem;
}

.number {
    color: var(--primary-color)
}
.mail {
    color: var(--primary-color)
}